body {
	font-family: Georgia, serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

main {
	background: linear-gradient(#F6DEE5, #ffffff, #ffffff, #F6DEE5);
	min-height: 100vh;
	position: relative;
}

footer {
	text-align: center;
	padding: 20px 0;
	position: sticky;
	background: #F6DEE5
}

.copyright {
	color: #050303;
	font-size: 13px;
}

.dados h2 {
	font-size: 30px;
	font-weight: bold;
	color: #860541;
	text-align: center;
}

.indented-paragraph {
	text-indent: 50px;
}

#imagem {
	position: relative;
	align-self: center;
	max-width: 300px;
	max-height: 300px;
	width: auto;
	height: auto;
}

.row {
	justify-content: center;
	align-items: center;
}

.container h1 {
	font-size: 30px;
	font-weight: bold;
	color: #860541;
}

.contact-container {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 80vh;
}

.contact-info {
	text-align: center;
}

.card {
	height: 100%;
	flex: 1;
	margin: 20px;
	border: 1px solid #000000;
	padding: 20px;
	max-width: 30%;
}

.card-img-top {
	height: 80%;
	/* Ajuste conforme necessário */
	object-fit: cover;
}

.small-card {
	max-width: 500px;
	margin: 0 auto;
	/* Centralizar o card */
}

.card-body h2 {
	text-align: center;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

src/ components/ Header.js Footer.js pages/ HomePage.js ProjectsPage.js ClientsPage.js ContactPage.js App.js index.js a {
	text-decoration: none;
}

.btn-custom {
	background-color: #f5dde9;
	/* Cor de fundo desejada */
	color: #7e4848;
	/* Cor do texto desejada */
	/* Outros estilos, como bordas, margens, etc., podem ser adicionados conforme necessário */
}

.btn-custom:hover {
	background-color: #fdcccc;
	/* Cor de fundo ao passar o mouse sobre o botão */
	/* Outros estilos de hover, se necessário */
}

a:link {
	color: #860541
}

a:visited {
	color: #b32265
}

@media screen and (max-width: 480px) {
	#imagem {
		width: auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
	}
}